<p class="text-error"><%= flash[:notice]%></p>
<h1>Listing users</h1>

<%= paginate @users %>

<table class="table table-striped"> <tr>
    <th>Gravatar</th>
    <th>Login</th>
    <th>Fullname</th>
    <th>Email</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= image_tag generation_link_to_gravatar(user.email) %></td>
    <td><%= user.login %></td>
    <td><%= user.fullname %></td>
    <td><%= user.email %></td>
  </tr>
<% end %>
</table>

 <%= paginate @users %>


