<!DOCTYPE html>
<html>
<head>
  <title>Auth</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%unless current_user %>
  <div class="navbar">
    <div class="navbar-inner">
      <spam class="brand">Stranger</spam>
      <ul class="nav">
    	<li><a href="#login" role="button" data-toggle="modal">LogIn</a></li>
    	<li><a href="/Signup">SignUp</a></li>
      <li><a href="/admin">Admin</a></li>
      </ul>
    </div>
  </div>


    <div class="modal hide fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">LogIn</h3>
    </div>
    <div class="modal-body">
	 <%= form_tag( first_step_path, :remote => true, :class => "form-horizontal") do %>
	  <p>
	    <%= label_tag :email_or_login %><br />
	    <%= text_field_tag :email_or_login %>
	  </p>
	  <p>
	    <%= label_tag :password %><br />
	    <%= password_field_tag :password %>
	  </p>
	  <%= submit_tag "Log in", :class => 'btn' %>
	<% end %>
</div>
    </div>
    <%else%>
    <div class="navbar">
    <div class="navbar-inner">
      <spam class="brand"><%= current_user.login %></spam>
      <ul class="nav">
      <li><a href="/Logout">LogOut</a></li>
      <li><a href="/edit">Edit My Info</a></li>
      <li><a href="/show">About Me</a></li>
      <li><a href="/admin">Admin</a></li>
      </ul>
    </div>
  </div>
  <%end%>
  <div class="container">

  
    <%= yield %>
  </div>
</body>
</html>
